element.style {
    width: 280px;
}
.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
}
.p-3 {
    padding: 1rem!important;
}
.flex-shrink-0 {
    flex-shrink: 0!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}