* {
    box-sizing: border-box;
  }
  
  /********** header  **************/
  
  header,
  section {
    overflow-x: hidden;
  }
  
  header {
      background: #FF0000	;
      
      border: 1px solid black;
      top:0;
      
  }
  
  
  :root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255, 255, 255, 0.877);
  }
  
  header a {
    font-family: var(--Sniglet-font);
    font-size: 0.9em;
    color: whitesmoke;
  }
  
  
    header .nav-item:last-child {
      padding-right: 10.5em;
    }
    
    header .nav-item {
      padding: 0.9em;
    }
    
    header .navbar-brand {
      padding-left: 8rem;
      color: aliceblue;
    }
    
    header .nav-link:hover {
      color: black;
      
    }
    
  
  /********** main  **************/
  
  
  
  main.row .col-md-7 {
      padding: 22vmin 1vmin;
      padding-bottom: 35vmin;
    }
  
  main .container .col-md-7 {
      font-family: "Rubik", sans-serif;
    }
    
  main .container .col-md-7 h6 {
      padding: 1vmin;
      letter-spacing: 4px;
    }
    
  main .container .col-md-7 h1 {
      font-size: 8.5vmin;
      font-weight: bold;
      padding: 0.1em 0em;
    }
    
  main .container .col-md-7 p {
      padding: 1vmin 5vmin;
    }
  
    /********** section 1 **************/
  
  .section-1 {
      padding: 20vmin 0vmin;
    }
    
  .section-1 .row .col-md-6 .pray img {
      opacity: 0.8;
      width: 80%;
      border-radius: 0.2em;
    }
    
  .section-1 .row .col-md-6:last-child {
      position: relative;
    }
    
  .section-1 .row .col-md-6 .panel {
      position: absolute;
      top: 7vmin;
      left: -18vmin;
      background: white;
      border-radius: 3px;
      text-align: left;
      padding: 5vmin 5vmin 10 vmin 5vmin;
      box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
      font-family: var(--Rubik);
      z-index: 1;
    }
    
  .section-1 .row .col-md-6 .panel h1 {
      font-weight: bold;
      padding: 0.4em 0;
      font-size: 2em;
    }
    
  .section-1 .row .col-md-6 .panel p {
      font-size: 0.9em;
      color: rgba(0, 0, 0, 0.5);
    }
  
  /********** section 2   **************/
  .container-fluid{
      margin-top:100px 
  }
  .cover {
      width: 100%;
      height: 55vmin;
      background: url("../assets/pexels-photo-452738.jpeg");
      background-position: -24rem -19rem;
      background-size: 150%;
      position: relative;
    }
    
  .cover .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
    }
    
  .cover .content {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      padding-top: 19vmin;
    }
    
  .cover .content > h1 {
      font-family: var(--Patua);
      font-size: 6vmin;
      color: whitesmoke;
    }
    
  .cover .content > p {
      font-family: var(--Rubik);
      font-size: 2vmin;
      color: #e5e5e5;
    }
    
  .numbers .rect {
      position: relative;
      z-index: 1;
      background: white;
      width: 17rem;
      height: 12rem;
      padding-top: 3.5vmin;
      margin: 1rem;
      border-radius: 0.5em;
      box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
    }
    
  .numbers {
      margin-top: -15vmin;
    }
    
  .numbers .rect h1 {
      font-size: 5rem;
      color: tomato;
    }
    
  .numbers .rect > p {
      font-family: var(--Patua);
    }
    
  .purchase > h1 {
      padding-top: 15vmin;
      padding-bottom: 0.1em;
      font-family: var(--Lobster);
    }
    
  .purchase > p {
      color: var(--light-black);
      font-size: 3vmin;
      padding-bottom: 10vmin;
    }
    
  .purchase .cards .card {
      width: 22rem;
      margin: 3vmin 3vmin;
    }
    
  .cards div {
      padding: 0;
      margin: 10px;
  
    }
    
  .cards .title {
      background: rgba(208, 241, 241, 0.199);
      padding: 1.4em 2.5em;
      font-size: 2vmin;
    }
    
  .card .card-text {
      padding: 2.5rem 3rem;
      color: var(--light-black);
    }
    
  .card-body .pricing {
      background: rgba(208, 241, 241, 0.199);
      border-top-right-radius: 170px;
      border-top-left-radius: 170px;
    }
    
  .card-body .pricing > h1 {
      font-size: 10vmin;
      padding: 1em 0.5em;
    }
  
  /********** footer   **************/
  footer {
     /* background: rgba(0, 0, 0, 0.815);
      overflow-x: hidden;
      padding: 14vmin 18vmin;
      height: 150px;*/
      
      clear: both;
      height: 150px;
      font-weight: bold ;
      background-color: #FF0000	 ;
      
  
  
    }
  
  
    
  footer.p {
      color: #ff512f;
    }
    
  footer input {
      border: none !important;
    }
    
  footer input::placeholder {
      color: white !important;
    }
    
  footer .input-group .input-group-text {
      background: var(--bggradient);
      border: none;
    }
    
  footer .column i {
      color: #dd2476;
      text-decoration:none;
    }
  
  footer .col-md-5 {
      color: white;
    }
  
  footer .col-md-2 {
      color: white;
      text-decoration: none;
    }
  
    
    /* It is Adjacent sibling combinator */
    
  footer .column i + i {
      padding: 0 0.5em;
    }
    
  .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.815);
      z-index: 9999;
      transition: all 1.5s ease;
    }
  
  /**  ############################################################################################# **/
  
  